.topbar {
    height: 100px;
    width: 100%;
    background-color: #4285f4;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //margin-left: 20px;
  }
  